/ Navbar
%nav.navbar.navbar-expand-lg{"color-on-scroll" => "500"}
  .container-fluid
    %a.navbar-brand{href: "#pablo"} Dashboard
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navigation-index", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-toggle" => "collapse", href: "", type: "button"}
      %span.navbar-toggler-bar.burger-lines
      %span.navbar-toggler-bar.burger-lines
      %span.navbar-toggler-bar.burger-lines
    #navigation.collapse.navbar-collapse.justify-content-end
      %ul.nav.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{"data-toggle" => "dropdown", href: "#"}
            %i.nc-icon.nc-palette
            %span.d-lg-none Dashboard
        %li.dropdown.nav-item
          %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown", href: "#"}
            %i.nc-icon.nc-planet
            %span.notification 5
            %span.d-lg-none Notification
          %ul.dropdown-menu
            %a.dropdown-item{href: "#"} Notification 1
            %a.dropdown-item{href: "#"} Notification 2
            %a.dropdown-item{href: "#"} Notification 3
            %a.dropdown-item{href: "#"} Notification 4
            %a.dropdown-item{href: "#"} Another notification
        %li.nav-item
          %a.nav-link{href: "#"}
            %i.nc-icon.nc-zoom-split
            %span.d-lg-block  Search
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{href: "#pablo"}
            %span.no-icon Account
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "http://example.com"}
            %span.no-icon Dropdown
          .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            %a.dropdown-item{href: "#"} Action
            %a.dropdown-item{href: "#"} Another action
            %a.dropdown-item{href: "#"} Something
            %a.dropdown-item{href: "#"} Something else here
            .divider
            %a.dropdown-item{href: "#"} Separated link
        %li.nav-item
          %a.nav-link{href: "#pablo"}
            %span.no-icon Log out
/ End Navbar